{% extends '!base.html' %}
{% load static %}


{% block style %}
.img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 260px;
    z-index: 1000;
}

.bg-img-form {
    position: relative;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.bg-filter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 100%;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.2);
    z-index: 10;
}

.content-form {
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 8px;
    padding: 10px;
}

.movie-font {
    font-size: 12px;
    color: gray;
}

.created_at-font {
    font-size: 12px;
    color: gray;
}

.content-font {
    font-size: 15px;
}

.comment-writer {
    font-size: 12px;
}

.delete-btn {
    border: 0;
    background-color: transparent;
    font-size: 12px;
    color: #999999;
    transition: all 0.2s linear;
}

.delete-btn:hover {
    color: black;
}

.edit-btn {
    font-size: 12px;
    color: #999999;
    transition: all 0.2s linear;
}

.edit-btn:hover {
    color: black;
}

.comment-submit-btn {
    width: 60px;
    height: 38px;
    font-size: 14px;
    border-radius: 8px;
    line-height: 0;
}

.comment-input {
    width: 100%;
}

.scroll {
    height: 520px;
    overflow: auto;
}

.comment-text {
    word-wrap: break-word;
}

.align-end {
    text-align: end;
}
{% endblock style %}


{% block content %}
<div class='d-flex'>
    <div class='pe-4 col-6'>
        <div class='bg-img-form container-fluid mb-3'>
            {% if review.image %}
                <img src="{{ review.image.url }}" alt="img" class='img'>
                <div class='bg-filter'></div>
                <img src="{{ review.image.url }}" alt="img" class='bg-img'>
            {% else %}
                <div class='bg-filter'></div>
                <img src="{% static 'reviews/no_img.jpg' %}" alt="img" class='bg-img'>
            {% endif %}
        </div>
        <h4>{{ review.title }}</h4>
        <div class='d-flex mb-3 align-items-center'>
            {% if review.user.profile_image %}
                <div class='profile-image-form'>
                    <img src="{{ review.user.profile_image.url }}" alt="" class='profile-image'>
                </div>
            {% else %}
                <div class='profile-image-form'>
                    <img src="{% static 'accounts/no_profile.jpeg' %}" alt="profile_image" class='profile-image'>
                </div>
            {% endif %}
            <p class='mx-2 my-auto font-14'>{{ review.user }}</p>
        </div>
        <div class='content-form px-3'>
            <div class='d-flex justify-content-between py-auto'>
                <p class='movie-font mb-1'>MOVIE | {{ review.movie }}</p>
                <div class='d-flex gap-3'>
                    {% if request.user == review.user %}
                        <a href="{% url 'reviews:review_update' review.pk %}">
                            <span class="material-symbols-outlined edit-btn">
                                <b>수정</b>
                            </span>
                        </a>                    
                        <form action="{% url 'reviews:review_delete' review.pk %}" method='POST'>
                            {% csrf_token %}
                            <input type='submit' class="delete-btn" value='삭제' onclick="return confirm('삭제 하시겠습니까?')">
                        </form>
                    {% endif %}
                </div>
            </div>
            <p class='movie-font'>{{ review.created_at|date:'Y-m-d' }}</p>
            <p class='comment-form content-font text-wrap'>{{ review.content }}</p>
        </div>
    </div>
    <div class='container-fluid mt-3 col-6'>
        <h6>댓글 {{ comments_cnt }}개</h6>
        <div class='mb-3'>
            <form action="{% url 'reviews:comment_create' review.pk %}" method='POST' class='d-flex row'>
                {% csrf_token %}
                {% for field in comment_form %}
                    <div class='mb-2'>
                        {{ field.label }}
                    </div>
                    <div class='d-flex justify-content-between'>
                        <p class='comment-input'>{{ field }}</p>
                        <input type="submit" class='btn btn-secondary comment-submit-btn ms-2' value='댓 글'>
                    </div>
                {% endfor %}
            </form>
        </div>
    
        <div class='scroll'>
            {% if comments_cnt %}
                <ul class='p-0'>
                    {% for comment in comments %}
                        <li class='d-flex justify-content-between align-items-end'>
                            <div class='col-10'>
                                <div class='mb-2 d-flex align-items-center gap-2'>
                                    {% if comment.user.profile_image %}
                                        <div class='profile-image-form'>
                                            <img src="{{ comment.user.profile_image.url }}" alt="" class='profile-image'>
                                        </div>
                                    {% else %}
                                        <div class='profile-image-form'>
                                            <img src="{% static 'accounts/no_profile.jpeg' %}" alt="profile_image" class='profile-image'>
                                        </div>
                                    {% endif %}
                                    <span class='comment-writer'>{{ comment.user }}</span> <span class='created_at-font'>{{ comment.created_at|date:'Y-m-d' }}</span>
                                </div>
                                <p class='mb-0 comment-text'>{{ comment.content }}</p>
                            </div>
                            {% if comment.user == request.user %}
                                <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" class='col-2 align-end pe-1'>
                                    {% csrf_token %}
                                    <input type="submit" class='delete-btn' value='삭 제' onclick="return confirm('삭제 하시겠습니까?')">
                                </form>
                            {% endif %}
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <div class='d-flex justify-content-center mt-5'>
                    <p>여러분의 의견을 남겨주세요.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}