{% extends '!base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'reviews/css/detail.css' %}">
{% endblock style %}


{% block content %}
<div class='d-flex'>
    <div class='pe-4 col-6'>
        <div class='bg-img-form container-fluid mb-3'>
            {% if review.image %}
                <img src="{{ review.image.url }}" alt="img" class='img'>
                <div class='bg-filter'></div>
                <img src="{{ review.image.url }}" alt="img" class='bg-img'>
            {% else %}
                <div class='bg-filter'></div>
                <img src="{% static 'reviews/img/no_img.jpg' %}" alt="img" class='bg-img'>
            {% endif %}
        </div>
        <h4>{{ review.title }}</h4>
        <div class='d-flex'>
            <a href="{% url 'accounts:profile' review.user.username %}" class='d-flex mb-3 align-items-center'>
                {% if review.user.profile_image %}
                    <div class='profile-image-form'>
                        <img src="{{ review.user.profile_image.url }}" alt="" class='profile-image'>
                    </div>
                {% else %}
                    <div class='profile-image-form'>
                        <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image" class='profile-image'>
                    </div>
                {% endif %}
                <p class='mx-2 my-auto font-14'>{{ review.user }}</p>
            </a>
        </div>
        <div class='content-form px-3'>
            <div class='d-flex justify-content-between py-auto'>
                <p class='movie-font mb-1'>MOVIE | {{ review.movie }}</p>
                <div class='d-flex gap-3'>
                    {% if request.user == review.user %}
                        <a href="{% url 'reviews:review_update' review.pk %}">
                            <span class="material-symbols-outlined edit-btn">
                                <b>수정</b>
                            </span>
                        </a>                    
                        <form action="{% url 'reviews:review_delete' review.pk %}" method='POST'>
                            {% csrf_token %}
                            <input type='submit' class="delete-btn" value='삭제' onclick="return confirm('삭제 하시겠습니까?')">
                        </form>
                    {% endif %}
                </div>
            </div>
            <p class='movie-font'>{{ review.created_at|date:'Y-m-d' }}</p>
            <p class='comment-form content-url content-font text-wrap'>{{ review.content|urlize }}</p>
        </div>
    </div>
    <div class='container-fluid mt-3 col-6'>
        <h6>댓글 {{ comments_cnt }}개</h6>
        <div class='mb-3'>
            <form action="{% url 'reviews:comment_create' review.pk %}" method='POST' class='d-flex row'>
                {% csrf_token %}
                {% for field in comment_form %}
                    <div class='mb-2'>
                        {{ field.label }}
                    </div>
                    <div class='d-flex justify-content-between'>
                        <p class='comment-input'>{{ field }}</p>
                        <input type="submit" class='btn btn-secondary comment-submit-btn ms-2' value='댓 글'>
                    </div>
                {% endfor %}
            </form>
        </div>
    
        <div class='scroll'>
            {% if comments_cnt %}
                <ul class='p-0'>
                    {% for comment in comments %}
                        <li class='d-flex justify-content-between align-items-end'>
                            <div class='col-10'>
                                <div class='mb-2 d-flex align-items-center gap-3'>
                                    <a href="{% url 'accounts:profile' comment.user.username %}" class='d-flex align-items-center gap-2'>
                                        {% if comment.user.profile_image %}
                                            <div class='profile-image-form'>
                                                <img src="{{ comment.user.profile_image.url }}" alt="" class='profile-image'>
                                            </div>
                                        {% else %}
                                            <div class='profile-image-form'>
                                                <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image" class='profile-image'>
                                            </div>
                                        {% endif %}
                                        <span class='comment-writer'>{{ comment.user }}</span>
                                    </a> <span class='created_at-font'>{{ comment.created_at|date:'Y-m-d' }}</span>
                                </div>
                                <p class='mb-0 comment-text content-url'>{{ comment.content|urlize }}</p>
                            </div>
                            {% if comment.user == request.user %}
                                <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" class='col-2 align-end pe-1'>
                                    {% csrf_token %}
                                    <input type="submit" class='delete-btn' value='삭 제' onclick="return confirm('삭제 하시겠습니까?')">
                                </form>
                            {% endif %}
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <div class='d-flex justify-content-center mt-5'>
                    <p>여러분의 의견을 남겨주세요.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}