.title {
    font-size: 18px;
    color: black;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie {
    font-size: 12px;
    color: gray;
}

.writer {
    font-size: 16px;
    color: black;
}

.comment-cnt {
    font-size: 14px;
    color: gray;
    white-space: nowrap;
}

.card-form {
    height: 185px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.card-form:hover {
    box-shadow: 0px 5px 20px #e6e6e6;
    transform: translate(0px, -4px)
}

.img-box {
    height: 150px;
    min-width: 150px;
    background-color: #d3d3d3;
    border-radius: 5px;
    overflow: hidden;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.no_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.05);
}

.bar {
    width: 1.2px;
    height: 250px;
    background-color: lightgray;
    margin-left: 23px;
}

.created_at-font {
    font-size: 12px;
    color: gray;
}

.width-100 {
    padding: 0.5rem calc((100vw - 1000px) / 2);
    width: 100%;
}

.icon-16 {
    font-size: 16px;
    color: gray;
}

.index-profile-image-form {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    border: 0.1px solid lightgray;
    overflow: hidden;
}

.review-content {
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}