{% extends '!base.html' %}


{% block style %}

{% endblock style %}


{% block content %}
<div class='container-fluid'>
    <div class='d-flex justify-content-center align-items-center me-4'>
        <a href="{% url 'accounts:profile' user.pk %}" class='back-btn'><span class="material-symbols-outlined">
            arrow_back_ios
        </span></a>
        <h4><strong>비밀번호 수정</strong></h4>
    </div>
    <div class='d-flex justify-content-center'>
        <form action="{% url 'accounts:change_password' %}" method='POST'>
            {% csrf_token %}
            <hr>
            {% for field in form %}
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            {% endfor %}
            <input type="submit" class='btn btn-secondary submit-btn' value='수정'>
        </form>
    </div>
</div>
{% endblock content %}