{% extends '!base.html' %}


{% block style %}

{% endblock style %}


{% block content %}
<div class='container-fluid'>
    <div class='d-flex justify-content-center'>
        <form action="{% url 'accounts:change_password' %}" method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            {% endfor %}
            <input type="submit" class='btn btn-primary'>
            <a href="{% url 'accounts:profile' user.pk %}" class='btn btn-secondary'>뒤로가기</a>
        </form>
    </div>
</div>
{% endblock content %}