{% extends '!base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock style %}


{% block content %}
<div class='container-fluid'>
    <div class='d-flex justify-content-center'>
        {% if person.profile_image %}
            <div class='profile-img-form d-flex justify-content-center'>
                <img src="{{ person.profile_image.url }}" alt="profile_image" class='profile-img'>
            </div>
        {% else %}
            <div class='profile-img-form d-flex justify-content-center'>
                <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image" class='profile-img'>
            </div>
        {% endif %}
        <div class='ms-5'>
            <p class='profile-name'>{{ person.last_name }}{{ person.first_name }}</p>
            <p class='profile-id'>@{{ person.username }}</p>
            <p class='profile-email'>{{ person.email }}</p>
            <div class='d-flex gap-2'>
                <a href="{% url 'accounts:update_account' %}" class='btn btn-outline-secondary edit-btn'>회원정보 수정</a>
                <a href="{% url 'accounts:change_password' %}" class='btn btn-outline-secondary edit-btn'>비밀번호 변경</a>
                <form action="{% url 'accounts:delete_account' %}" method='POST'>
                    {% csrf_token %}
                    <input type="submit" value='회원탈퇴' onclick="return confirm('탈퇴 하시겠습니까?')" class='btn btn-outline-danger edit-btn'>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center gap-4 mt-5 mb-4 mx-auto group-btn">
        <button type="button" class="tag-btn d-flex justify-content-center align-items-center gap-1">
            <span class="material-symbols-outlined icon-14">
                grid_view
            </span>
            <span>리뷰 <b>{{ person.review_set.all|length }}</b></span>
        </button>
        <button type="button" class="tag-btn d-flex justify-content-center align-items-center gap-1">
            <span class="material-symbols-outlined icon-14">
                favorite
            </span>
            <span>좋아요</span>
        </button>
        <button type="button" class="tag-btn d-flex justify-content-center align-items-center gap-1">
            <span class="material-symbols-outlined icon-14">
                push_pin
            </span>
            <span>저장</span>
        </button>
    </div>
    
    <div class='d-flex flex-wrap justify-content-center gap-4'>
        {% for review in person.review_set.all|dictsortreversed:'created_at' %}
            <a href="{% url 'reviews:detail' review.pk %}">
                <div class='card-form'>
                    <div class='img-box'>
                        {% if review.image %}
                            <img src="{{ review.image.url }}" alt="img" class='img'>
                        {% else %}
                            <img src="{% static 'reviews/img/no_img.jpg' %}" alt="img" class='no_img'>
                        {% endif %}
                    </div>
                    <div class='m-3'>
                        <div class='d-flex justify-content-between'>
                            <span class='movie'>MOVIE | {{ review.movie }}</span>
                            <span class='created_at-font'>{{ comment.created_at|date:'Y-m-d' }}</span>
                        </div>
                        <p class='writer mb-2'>{{ review.person }}</p>
                        <div class='d-flex justify-content-between'>
                            <div class='title'>
                                <b>{{ review.title }}</b>
                            </div>
                            <div class='comment-cnt my-auto'>
                                <p>댓글 : <b>{{ review.comment_set.all|length }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}